<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  
  
  
  <!-- front-end -->
  
  
  
  <servlet>
    <servlet-name>Home</servlet-name>
    <servlet-class>com.gestion.stock.ict308.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  
      <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.gestion.stock.ict308.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  
	   <servlet>
	    <servlet-name>Panier</servlet-name>
	    <servlet-class>com.gestion.stock.ict308.Panier</servlet-class>
	  </servlet>
	  <servlet-mapping>
	    <servlet-name>Panier</servlet-name>
	    <url-pattern>/panier</url-pattern>
	  </servlet-mapping>
	  
      <servlet>
    <servlet-name>PanierValid</servlet-name>
    <servlet-class>com.gestion.stock.ict308.PanierValid</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PanierValid</servlet-name>
    <url-pattern>/panierValid</url-pattern>
  </servlet-mapping>
  
      <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.gestion.stock.ict308.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  
     <servlet>
	    <servlet-name>Logout</servlet-name>
	    <servlet-class>com.gestion.stock.ict308.Logout</servlet-class>
	  </servlet>
	  <servlet-mapping>
	    <servlet-name>Logout</servlet-name>
	    <url-pattern>/logout</url-pattern>
	  </servlet-mapping>
	  
  
  <!-- admin -->
  
  
  
        <servlet>
    <servlet-name>SeConnecter</servlet-name>
    <servlet-class>com.gestion.stock.admin.SeConnecter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SeConnecter</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>HomeAdmin</servlet-name>
    <servlet-class>com.gestion.stock.admin.HomeAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeAdmin</servlet-name>
    <url-pattern>/homeAdmin</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AddProduit</servlet-name>
    <servlet-class>com.gestion.stock.admin.AddProduit</servlet-class>
    <multipart-config>
            <location>/home/papadollar/Images/fichier/</location> <!-- A adapter chez vous -->
            <max-file-size>10485760</max-file-size> <!-- 10 Mo -->
            <max-request-size>52428800</max-request-size> <!-- 5 x 10 Mo -->
            <file-size-threshold>1048576</file-size-threshold> <!-- 1 Mo -->
        </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProduit</servlet-name>
    <url-pattern>/addProduit</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>EditProduit</servlet-name>
    <servlet-class>com.gestion.stock.admin.EditProduit</servlet-class>
        <multipart-config>
            <location>/home/papadollar/Images/fichier/</location> <!-- A adapter chez vous -->
            <max-file-size>10485760</max-file-size> <!-- 10 Mo -->
            <max-request-size>52428800</max-request-size> <!-- 5 x 10 Mo -->
            <file-size-threshold>1048576</file-size-threshold> <!-- 1 Mo -->
        </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProduit</servlet-name>
    <url-pattern>/editProduit</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>DeleteProduit</servlet-name>
    <servlet-class>com.gestion.stock.admin.DeleteProduit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProduit</servlet-name>
    <url-pattern>/deleteProduit</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>HistoryProduit</servlet-name>
    <servlet-class>com.gestion.stock.admin.HistoryProduit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HistoryProduit</servlet-name>
    <url-pattern>/historyProduit</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>Error404</servlet-name>
    <servlet-class>com.gestion.stock.admin.Error404</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Error404</servlet-name>
    <url-pattern>/error404</url-pattern>
  </servlet-mapping>
  
     <servlet>
    <servlet-name>Notifications</servlet-name>
    <servlet-class>com.gestion.stock.ict308.Notifications</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Notifications</servlet-name>
    <url-pattern>/notifications</url-pattern>
  </servlet-mapping>
  
  

   <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
        </jsp-property-group>
    </jsp-config>
</web-app>